* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*
  background-color: #007dc6;
*/
  height: 100vh;
  background-image: url(images/Bhblue2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  letter-spacing: 0.5px;
  font-family: 'Lato', sans-serif;
}

/*INITIAL*/
.initial {
  position: relative;
}

.title {
  font-size: 60px;
  color: #ffc220;
  padding: 20px;
  text-align: center;
  font-weight: 700;
}

.buttons {
  margin-top: 30vh;
  text-align: center;
}

#colleaguesBtn,
#visitorsBtn {
  display: inline-block;
  margin: 0px 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #76c043;
  overflow: hidden;
  line-height: 200px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 2px 2px #0000004a;
  border: 1px solid #45632f;
  border-bottom: solid 3px #45632f;
}

#colleaguesBtn:active,
#visitorsBtn:active {
  -ms-transform: translateY(3px);
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  box-shadow: 0 0 1px #00000026;
  border-bottom: none;
}

#logo {
  width: 400px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#backBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

#colleagues {
  display: none;
}

#visitors {
  display: none;
}

.names {
  display: inline;
  padding: 10px;
}

#colleaguesListDiv {
  display: none;
}

#visitorsListDiv {
  display: none;
}
